<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Каршеринг</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cars">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Машины
            </NavLink>
            <NavLink class="nav-link" href="clients">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Клиенты
            </NavLink>
            <NavLink class="nav-link" href="orders">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Список заказов
            </NavLink>
        </div>
    </nav>
</div>

